*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    --sb-track-color: #171b26;
    --sb-thumb-color: #2f3d63;
    --sb-size: 12px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;
    border: 2px solid #232e33;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  
#chart{
    width: 100%;
    height: 100vh;
	overflow: hidden;
}


.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: row;
    background: linear-gradient(#131722, #996D30, #F0D099, #131722);
    color: #1d2438;
  }

  .header > .intro {
    font-weight: 100;
  }

.header > .logo-png {
    width: 8%;
    height: 100%;
    margin-top: 20rem;
    margin-left: 40rem;
    padding-top: 10rem;
}

.video-wrapper {
  max-width: 100%; /* Ensures the container doesn't exceed its parent's width */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 2); /* Adds a dark shadow effect */
  border-radius: 8px; /* Optional: Adds rounded corners to the container */
  overflow: hidden; /* Ensures the shadow is contained within the wrapper */
}

.video-wrapper video {
  display: block; /* Ensures video is block-level for margin and padding purposes */
  width: 100%; /* Makes the video fill its container */
  height: 100%;
}

/* Optional: Adjust padding or margins for better spacing */
.video-wrapper {
  padding: 6px; /* Add padding inside the container if needed */
  margin: 6rem .5rem; /* Add margins around the container */
  margin-left: 20rem;
}


